{% extends 'homepage/style.html' %}
{% block content %}
<body>

<br><br><br>
    <br><br>
                   <center> <a href="{% url "addjob" %}"> <input type="submit" value="עבודה חדשה" style="font-size : 60px;height:150px; width:400px" class="btn btn-success"></a>
            <br><br>
                       <a href="{% url "addhrsandworkers" %}"> <input type="submit" value="הוספה לעבודה קיימת" style="font-size : 40px;height:150px; width:400px" class="btn btn-info"></a>
            <br><br>
                       <a href="{% url "updatepaymentforjob" %}"> <input type="submit" value="עדכון תשלום לעבודה" style="font-size : 40px;height:150px; width:400px" class="btn btn-light"></a>
            <br><br>
                    <a href="{% url "reducehrs" %}"><input type="submit" value="להוריד שעות" style="font-size : 60px;height:150px; width:400px" class="btn btn-danger"></a>
                <br><br>
                    <a href="{% url "payment" %}"><input type="submit" value="תשלום לעובד" style="font-size : 60px;height:150px; width:400px" class="btn btn-primary"></a>
                <br><br>
                    <a href="{% url "reports" %}"><input type="submit" value="דוחות" style="font-size : 60px;height:150px; width:400px" class="btn btn-warning"></a>
                <br><br>
                    <a href="{% url "addworker" %}"><input type="submit" value="הוסף עובד" style="font-size : 60px;height:150px; width:400px" class="btn btn-info"></a></center>
                <br><br>

    </body>
{% endblock %}
