{% extends 'homepage/style.html' %}
{% block content %}
<body>

<br><br><br><br>
        <h1 align="center">הוסף עבודה</h1>
<br><br>
    <div class="row align-items-center justify-content-center">

        <form method="POST">
        {% csrf_token %}
            <center><h2 style="color: red">{{ error }}</h2>
            {{ form.as_p }}

                &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<button type="submit" class="btn btn-primary">הוסף עבודה</button></center>

        </form>
    </div>
<br><br>
    <div class="row align-items-center justify-content-center">
<a href={% url 'homepage' %}><button class="btn btn-primary">חזור לדף הבית</button></a>
    </div>
    </body>
{% endblock %}


